<h2 class='title has-text-info'>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render 'devise/shared/error_messages', resource: resource %>

  <div class='field'>
    <%= f.label :avatar, class: 'label' %>
    <%= f.file_field :avatar, class: 'input' %>
  </div>

  <div class='field'>
    <%= f.label :name, class: 'label' %>
    <div class='control has-icons-left'>
      <%= f.text_field :name, class: 'input', autofocus: true, autocomplete: 'Name' %>
      <span class='icon is-small is-left'>
        <i class='fas fa-user'></i>
      </span>
    </div>
  </div>

  <div class='field'>
    <%= f.label :email, class: 'label' %>
    <div class='control has-icons-left'>
      <%= f.email_field :email, class: 'input', autocomplete: 'email' %>
      <span class='icon is-small is-left'>
        <i class='fas fa-envelope'></i>
      </span>
    </div>
  </div>

  <div class='field'>
    <%= f.label :password, class: 'label' %>
    <div class='control has-icons-left'>
      <%= f.password_field :password, class: 'input', autocomplete: 'new-password' %>
      <span class='icon is-small is-left'>
        <i class='fas fa-lock'></i>
      </span>
    </div>
    <% if @minimum_password_length %>
      <span class='help has-text-danger'><%= @minimum_password_length %> characters minimum</span>
    <% end %>
  </div>

  <div class='field'>
    <%= f.label :password_confirmation, class: 'label' %>
    <div class='control has-icons-left'>
      <%= f.password_field :password_confirmation, class: 'input', autocomplete: 'new-password' %>
      <span class='icon is-small is-left'>
        <i class='fas fa-lock'></i>
      </span>
    </div>
  </div>

  <div class='field'>
    <%= f.label :bio, class: 'label' %>
    <div class='control has-icons-left'>
      <%= f.text_field :bio, class: 'input', autocomplete: 'bio' %>
      <span class='icon is-small is-left'>
        <i class='fas fa-file'></i>
      </span>
    </div>
  </div>

  <div class='control'>
    <%= f.submit 'Sign up', class:'button is-primary mt-3' %>
  </div>
<% end %>
