<%= turbo_frame_tag comment do %>
  <article class="media">
    <figure class="media-left">
      <p class="image is-48x48">
        <%= render "members/thumb", member: comment.author %>
      </p>
    </figure>
    <div class="media-content">
      <div class="content">
        <p>
          <strong><%= comment.author.name %></strong>
          <br>
          <%= comment.text %>
          <br>
          <small><%= "#{distance_of_time_in_words_to_now(comment.updated_at)} ago" %><%= render "comment_update", comment: comment %></small>
        </p>
      </div>
    </div>
  </article>
<% end %>
