<%= form_with model: comment, url: url do |form| %>
  <div class="field">
    <div class="control">
      <%= form.text_field :text, class: "input", required: true %>
    </div>
  </div>
  <% if comment.persisted? %>
    <%= form.submit class: "button is-primary" %>
  <% else %>
    <div class="control pb-2" data-controller="stimulus" data-stimulus-post-value=<%= comment.post.id %> >
      <%= form.submit class: "button is-primary",
        data: {
          action: "stimulus#add_comment"
        }
      %>
    </div>
  <% end %>
<% end %>