<h1 class="title">Analytics</h1>
<div
  data-controller="chart"
  data-chart-start-date-value=<%= @start_date %>
  data-chart-end-date-value=<%= @end_date %>
>
  <% %w(counter_analytics length_analytics unique_analytics browser_analytics).each do |analytics| %>
    <%= render "broadcast", analytics: analytics %>
  <% end %>

  <%= render "chart", title: "Counter", target: "counter" %>
  <%= render "chart", title: "Average comment length", target: "length" %>
  <%= render "chart", title: "Unique visitors", target: "unique" %>
  <%= render "chart", title: "Browser device", target: "devices" %>
  <%= render "chart", title: "Browser platform", target: "platforms" %>
</div>

<%= link_to "Back", root_path, class: "button is-primary mt-5" %>
