<h1 class="title">Analytics</h1>
<%= form_with(url: analytics_url, method: :get, class: "is-flex is-justify-content-center my-4") do |form| %>
  <div class="is-flex is-flex-wrap-wrap is-align-items-center" data-controller="chart">
    <%= form.date_field :start_date,
      value: @start_date,
      class: "input is-primary",
      data: {
        chart_target: "startDate",
        action: "change->chart#new_range"
      },
      placeholder: "Select start date" %>
    <span class="mx-auto">to</span>
    <%= form.date_field :end_date,
      value: @end_date,
      class: "input is-primary",
      data: {
        chart_target: "endDate",
        action: "change->chart#new_range"
      },
      placeholder: "Select end date" %>
    <%= form.submit "Ok",
      class: "is-hidden",
      data: {
        chart_target: "btnSubmit"
      } %>
  </div>
<% end %>

<div
  data-controller="chart"
  data-chart-start-date-value=<%= @start_date %>
  data-chart-end-date-value=<%= @end_date %>
>
  <% %w(counter_analytics length_analytics unique_analytics browser_analytics).each do |analytics| %>
    <%= render "broadcast", analytics: analytics %>
  <% end %>

  <%= render "chart", title: "Counter", target: "counter" %>
  <%= render "chart", title: "Average comment length", target: "length" %>
  <%= render "chart", title: "Unique visitors", target: "unique" %>
  <%= render "chart", title: "Browser device", target: "devices" %>
  <%= render "chart", title: "Browser platform", target: "platforms" %>
</div>

<%= link_to "Back", root_path, class: "button is-primary mt-5" %>
