<nav class="navbar" role="navigation" aria-label="main navigation" class="mx-6">
  <div class="navbar-brand">

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBlog">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBlog" class="navbar-menu">
    <div class="navbar-start">
      <% if member_signed_in? %>
        <%= link_to root_path, class: "navbar-item" do %>
          <figure class="image">
            <%= image_tag current_member.avatar_as_thumbnail, class: "is-rounded nav-item" %>
          </figure>
        <% end %>
        <%= link_to 'Add post', new_member_post_path(current_member), class: "navbar-item" %>
      <% else %>
        <p class="navbar-item has-text-info has-text-weight-semibold">Blog App</p>
      <% end %>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <% if member_signed_in? %>
            <%= link_to 'Edit profile', edit_member_registration_path, class: "button" %>
            <%= button_to 'Sign out', destroy_member_session_path, method: :delete, class: "button" %>
          <% else %>
            <%= link_to 'Sign up', new_member_registration_path, class: "button" %>
            <%= link_to 'Sign in', new_member_session_path, class: "button" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>
