<div class="card m-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="https://c.tenor.com/uj4Cnt7RVE0AAAAM/fatdog-dog.gif" class="img-fluid rounded-start w-25" alt="user photo">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= @user.name %></h5>
        <p class="card-text"><small class="text-muted">Number of posts: <%= @user.post_counter %></small></p>
      </div>
    </div>
  </div>
</div>
<div class="card m-3">
  <div class="card-body">
    <h5 class="card-title">Bio</h5>
    <p class="card-text"><%= @user.bio %></p>
  </div>
</div>
<br/>
<% @user.recent_posts.each do |post| %>
  <div class="card m-3">
    <div class="card-body">
      <h5 class="card-title"><%= post.title %></h5>
      <p class="card-text"><%= post.text %></p>
      <p class="mb-2 text-muted"><small>Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %></small></p>
    </div>
  </div>
<% end %>
