<h2 class='title has-text-info'>Change your password</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render 'devise/shared/error_messages', resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class='field'>
    <%= f.label :password, 'New password', class: 'label' %>
    <div class='control has-icons-left'>
      <%= f.password_field :password, autofocus: true, autocomplete: 'new-password', class: 'input' %>
      <span class='icon is-small is-left'>
        <i class='fas fa-lock'></i>
      </span>
    </div>
    <% if @minimum_password_length %>
      <span class='help has-text-danger'><%= @minimum_password_length %> characters minimum</span>
    <% end %>
  </div>

  <div class='field'>
    <%= f.label :password_confirmation, 'Confirm new password', class: 'label' %>
    <div class='control has-icons-left'>
      <%= f.password_field :password_confirmation, autocomplete: 'new-password', class: 'input' %>
      <span class='icon is-small is-left'>
        <i class='fas fa-lock'></i>
      </span>
    </div>
  </div>

  <div class='control'>
    <%= f.submit 'Change my password', class: 'button is-primary' %>
  </div>
<% end %>
