<h2 class="title has-text-info">Reset your password</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email, class: "label" %>
    <div class="control">
      <%= f.email_field :email, class: "input", autocomplete: "email" %>
    </div>
  </div>

  <div class="control">
    <%= f.submit "Send me reset password instructions", class:'button is-link is-light' %>
  </div>
<% end %>
