<nav class='navbar mx-6'>
  <div class='navbar-brand' data-controller='stimulus'>
    <% if member_signed_in? %>
      <%= link_to root_path, class: 'p-3' do %>
        <%= render 'shared/thumbnail', member: current_member %>
      <% end %>
      <div class="navbar-item has-text-warning-dark">
        <%= current_member.email %>
      </div>
    <% else %>
      <h1 class='has-text-warning-dark-dark has-text-weight-semibold is-size-4 navbar-item'>Blog app</h1>
    <% end %>
    <a role='button' class='navbar-burger' aria-label='menu' aria-expanded='false' data-target='navbarBlog' data-action='stimulus#mobile_menu'>
      <span aria-hidden='true'></span>
      <span aria-hidden='true'></span>
      <span aria-hidden='true'></span>
    </a>
  </div>
  <div class='navbar-menu' id='navbarBlog'>
    <div class='navbar-start'>
      <div class="navbar-item">
        <%= link_to 'API endpoints', rswag_api_path, target: :_blank %>
      </div>
      <% if member_signed_in? %>
        <div class="navbar-item">
          <%= link_to 'Add post',
            new_member_post_path(current_member),
            data: {
              turbo_frame: 'post_modal',
              controller: 'stimulus',
              action: 'stimulus#open_modal'  
            }
          %>
        </div>
        <div class="navbar-item">
          <%= link_to 'Analytics', analytics_path %>
        </div>
      <% end %>
    </div>
    <div class='navbar-end'>
      <% if member_signed_in? %>
        <div class='navbar-item'>
          <%= link_to 'Edit profile', edit_member_registration_path %>
        </div>
        <div class='navbar-item'>
          <%= link_to 'Sign out', destroy_member_session_path, data: { turbo_method: :delete } %>
        </div>
      <% else %>
        <div class='navbar-item'>
          <%= link_to 'Sign up', new_member_registration_path %>
        </div>
        <div class='navbar-item'>
          <%= link_to 'Sign in', new_member_session_path %>
        </div>
      <% end %>
    </div>
  </div>
</nav>