<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email, style: "display: block", class: "label" %>
    <div class="control">
      <%= f.email_field :email, class: "input", autocomplete: "email" %>
    </div>
  </div>

  <div class="field">
    <%= f.label :password, style: "display: block", class: "label" %>
    <div class="control">
      <%= f.password_field :password, class: "input", autocomplete: "current-password" %>
    </div>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="control">
      <%= f.check_box :remember_me, type: "checkbox" %>
      <%= f.label :remember_me, class: "checkbox" %>
    </div>
  <% end %>

  <div class="control mt-3">
    <%= f.submit "Log in", class: "button is-link is-light" %>
  </div>
<% end %>

<%= link_to "Forgot your password?", new_password_path(resource_name), class: "button is-danger is-light mt-6" %>
