<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email, style: "display: block", class: "label" %>
    <div class="control">
      <%= f.email_field :email, class: "input", placeholder: "email" %>
    </div>
  </div>

  <h1 class="title has-text-info">Log in</h1>

  <div class="field">
    <%= f.password_field :password, class: "form-control m-2 w-75", placeholder: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="form-group mx-3">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in", class: "btn btn-secondary m-2 w-75" %>
  </div>
<% end %>
