<%= form_with model: post, url: url do |form| %>
  <div class="field">
    <%= form.label :title, class: "label" %>
    <div class="control">
      <%= form.text_field :title, class: "input", autocomplete: "Title" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :text, class: "label" %>
    <div class="control">
      <%= form.text_field :text, class: "input", autocomplete: "Post text" %>
    </div>
  </div>

  <div class="buttons">
    <%= form.submit class:'button is-primary',
      data: {
        controller: "stimulus",
        action: "stimulus#close_modal"
      }
    %>
    <%= link_to "Cancel",
      nil,
      class: "button is-danger",
      data: {
        controller: "stimulus",
        action: "stimulus#close_modal"
      }
    %>
  </div>
<% end %>
