<article class="media">
  <figure class="media-left">
    <p class="image is-48x48">
      <%= render "members/thumb", member: member %>
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        <strong><%= member.name %></strong>
        <br>
        <strong><%= post.title %></strong>
        <br>
        <% if post.text.size > 70 %>
          <%= post.text[0, 70] %>...
        <% else %>
          <%= post.text %>
        <% end %>
        <br>
        <small><%= render "icon_new", post: post %> · <%= render "icon_comments", post: post %> · <%= render "icon_likes", post: post %> · <%= "#{distance_of_time_in_words_to_now(post.updated_at)} ago" %></small>
      </p>
    </div>
    <div id=<%= "comments_#{post.id}" %> class="hidden_comments">
      <%= turbo_frame_tag "comments_#{post.id}" do %>
        <% post.recent_comments.each do |comment| %>
          <%= render "comments/comment", comment: comment %>
        <% end %>
      <% end %>
    </div>
  </div>
</article>

<%= turbo_frame_tag "new_comment_#{post.id}" %>
