<article class="media">
  <figure class="media-left">
    <p class="image is-48x48">
      <%= render "members/thumb", member: member %>
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        <strong><%= member.name %></strong>
        <br>
        <strong><%= post.title %></strong>
        <br>
        <% if post.text.size > 70 %>
          <%= post.text[0, 70] %>...
        <% else %>
          <%= post.text %>
        <% end %>
        <br>
        <small><a>Comments: <%= post.comments_counter %></a> · <a>Likes: <%= post.likes_counter %></a> · 3 hrs ago</small>
      </p>
    </div>
    <% post.recent_comments.each do |comment| %>
      <article class="media">
        <figure class="media-left">
          <p class="image is-48x48">
            <%= render "members/thumb", member: comment.author %>
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong><%= comment.author.name %></strong>
              <br>
              <%= comment.text %>
              <br>
              <small>2 hrs ago</small>
            </p>
          </div>
        </div>
      </article>
    <% end %>
  </div>
</article>
