<% @posts.each do |post| %>
  <div class="card m-3">
    <div class="card-body">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <%= image_tag @member.avatar_as_thumbnail, class: "is-rounded" %>
          </figure>
        </div>
        <div class="media-content">
          <p class="subtitle is-6 has-text-info"><%= post.title %></p>
        </div>
      </div>
      <% if post.text.size > 70 %>
        <p class="card-text"><%= post.text[0, 70] %>...</p>
      <% else %>
        <p class="card-text"><%= post.text %></p>
      <% end %>
      <p class="mb-2 text-muted text-end"><small>Comments: <%= post.comments_counter %> Likes: <%= post.likes_counter %></small></p>
    </div>
  </div>
  <div class="card m-3">
    <div class="card-body">
      <% if post.comments_counter.zero? %>
        <p class="mb-2 text-muted"><small>There are no comments yet</small></p>
      <% else %>
        <% post.recent_comments.each do |comment| %>
          <article class="media">
            <figure class="media-left">
              <p class="image is-48x48">
                <%= image_tag comment.author.avatar_as_thumbnail, class: "is-rounded" %>
              </p>
            </figure>
            <div class="media-content">
              <div class="content">
                <p><%= comment.text %></p>
              </div>
              <%# <nav class="level is-mobile">
                <div class="level-left">
                  <a class="level-item">
                    <span class="icon is-small"><i class="fas fa-reply"></i></span>
                  </a>
                  <a class="level-item">
                    <span class="icon is-small"><i class="fas fa-retweet"></i></span>
                  </a>
                  <a class="level-item">
                    <span class="icon is-small"><i class="fas fa-heart"></i></span>
                  </a>
                </div>
              </nav> %>
            </div>
          </article>
        <% end %>
        <% if post.comments_counter > 5 %>
          <p>...</p>
        <% end %>
        <article class="media">
          <figure class="media-left">
            <p class="image is-48x48">
              <%= image_tag current_member.avatar_as_thumbnail, class: "is-rounded" %>
            </p>
          </figure>
          <div class="media-content">
            <div class="field">
              <p class="control">
                <textarea class="textarea" placeholder="Add a comment..."></textarea>
              </p>
            </div>
            <a class="button is-info">Submit</a>
          </div>
        </article>
      <% end %>
    </div>
  </div>
<% end %>


