<div class="card m-3 border-0">
  <div class="row g-0">
    <div class="col-md-1">
      <img src=<%= @user.photo %> class="img-fluid rounded" alt="user photo">
    </div>
    <div class="col-md-11">
      <div class="card m-2">
        <div class="card-body">
          <h5 class="card-title"><%= @user.name %></h5>
          <p class="card-text text-end" class="text-muted"><small>Number of posts: <%= @user.post_counter %></small></p>
        </div>
      </div>
    </div>
  </div>
</div>
<% @posts.each do |post| %>
  <div class="card m-3">
    <div class="card-body">
      <h5 class="card-title"><%= link_to post.title, user_post_path(id: post.id), class: "text-decoration-none" %></h5>
      <% if post.text.size > 70 %>
      <p class="card-text"><%= post.text[0, 70] %>...</p>
      <% else %>
        <p class="card-text"><%= post.text %></p>
      <% end %>
      <p class="mb-2 text-muted text-end"><small>Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %></small></p>
    </div>
  </div>
  <div class="card m-3">
    <div class="card-body">
      <% if post.recent_comments.size.zero? %>
        <p class="mb-2 text-muted"><small>There are no comments yet</small></p>
      <% else %>
        <% post.recent_comments.each do |comment| %>
          <%= User.find(comment.author_id).name %>: <%= comment.text %><br/>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
