<% @posts.each do |post| %>
  <article class="media">
    <figure class="media-left">
      <p class="image is-48x48">
        <%= image_tag @member.avatar_as_thumbnail, class: "is-rounded" %>
      </p>
    </figure>
    <div class="media-content">
      <div class="content">
        <p>
          <strong class="has-text-link"><%= @member.name %></strong><br>
          <strong class="has-text-info"><%= post.title %></strong>
          <br>
          <%= post.text%>
          
          <br>
          <small><%= render "comments", post: post %><%= render "likes", post: post %><%= distance_of_time_in_words_to_now(post.created_at) %></small>
        </p>
      </div>
      <% post.recent_comments.each do |comment| %>
        <article class="media">
          <figure class="media-left">
            <p class="image is-48x48">
              <%= image_tag comment.author.avatar_as_thumbnail, class: "is-rounded" %>
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <strong class="has-text-link"><%= comment.author.name %></strong><br>
                <%= comment.text %>
                <br>
                <small><a>Like</a> · <%= distance_of_time_in_words_to_now(comment.created_at) %></small>
              </p>
            </div>
          </div>
        </article>
      <% end %>
    </div>
  </article>
  
  <%= render "comments/form", member: current_member, post: post, comment: Comment.new %>

<% end %>
