<div class="card m-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="https://c.tenor.com/uj4Cnt7RVE0AAAAM/fatdog-dog.gif" class="img-fluid rounded-start w-25" alt="user photo">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= @user.name %></h5>
        <p class="card-text" class="text-muted"><small>Number of posts: <%= @user.post_counter %></small></p>
      </div>
    </div>
  </div>
</div>
<% @posts.each do |post| %>
  <div class="card m-3">
    <div class="card-body">
      <h5 class="card-title"><%= post.title %></h5>
      <p class="card-text"><%= post.text %></p>
      <p class="mb-2 text-muted"><small>Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %></small></p>
    </div>
  </div>
  <div class="card m-3">
    <div class="card-body">
      <% post.recent_comments.each do |comment| %>
        <%= User.find(comment.author_id).name %>: <%= comment.text %><br/>
      <% end %>
    </div>
  </div>
<% end %>
