<% @posts.each do |post| %>
  <article class="media">
    <figure class="media-left">
      <p class="image is-48x48">
        <%= image_tag @member.avatar_as_thumbnail, class: "is-rounded" %>
      </p>
    </figure>
    <div class="media-content">
      <div class="content">
        <p>
          <strong><%= @member.name %></strong><br>
          <strong><%= post.title %></strong>
          <br>
          <%= post.text%>
          <br>
          <small><a>Like</a> 路 <a>Reply</a> 路 3 hrs</small>
        </p>
      </div>
      <% post.recent_comments.each do |comment| %>
        <article class="media">
          <figure class="media-left">
            <p class="image is-48x48">
              <%= image_tag comment.author.avatar_as_thumbnail, class: "is-rounded" %>
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <strong><%= comment.author.name %></strong><br>
                <%= comment.text %>
                <br>
                <small><a>Like</a> 路 <a>Reply</a> 路 2 hrs</small>
              </p>
            </div>
          </div>
        </article>
      <% end %>
    </div>
  </article>

  <article class="media">
    <figure class="media-left">
      <p class="image is-64x64">
        <%= image_tag current_member.avatar_as_thumbnail, class: "is-rounded" %>
      </p>
    </figure>
    <div class="media-content">
      <div class="field">
        <p class="control">
          <textarea class="textarea" placeholder="Add a comment..." rows="1"></textarea>
        </p>
      </div>
      <div class="field">
        <p class="control">
          <button class="button is-small is-link is-light">Post comment</button>
        </p>
      </div>
    </div>
  </article>
<% end %>
