<% liked = @like.count > 0 ? "bi-star-fill" : "bi-star" %>
<div class="card m-3">
  <div class="card-body">
    <div class="header">
      <div>
        <span>
          <span class="card-title">
            <%= @post.title %> by <%= @post.author.name %>
          </span>
          <span data-controller="like">
            <i id="likes_counter" class=<%= liked %> data-action="click->like#change"></i>
          </span>
          <span class="counter"> <%= @post.likes_counter %></span>
        </span>

      </div>
      <div>
        <% if can? :destroy, @post %>
          <%= button_to 'Delete', member_post_path(@post.author, @post), method: :delete, class: "btn btn-danger m-2" %>
        <% end %>
      </div>
    </div>
    
    <p class="card-text"><%= @post.text %></p>
  </div>
</div>
<div class="card m-3">
  <%= turbo_frame_tag "new_comment_tag" do %>
    <div class="card-body header">
      <div>
        <% if @post.comments_counter.zero? %>
          <p class="mb-2 text-muted"><small>There are no comments yet</small></p>
        <% else %>
          <p class="mb-2 text-muted"><small><%= pluralize(@post.comments_counter, "comment") %></small></p>
        <% end %>
      </div>
      <div>
        <%= link_to "New comment", new_member_post_comment_path(@member, @post), class: "btn btn-secondary m-2" %>
      </div>
    </div>
  <% end %>
</div>
<% if !@post.comments_counter.zero? %>
  <div class="card m-3">
    <div class="card-body">
      <%= render "posts/comment" %>
    </div>
  </div>
<% end %>
