<% liked = @like.count > 0 ? "bi-star-fill" : "bi-star" %>
<div class="card m-3">
  <div class="card-body">
    <div class="header">
      <div>
        <span>
          <span class="card-title">
            <%= @post.title %> by <%= @post.author.name %>
          </span>
          <span data-controller="like">
            <i id="likes_counter" class=<%= liked %> data-action="click->like#change"></i>
          </span>
          <span class="counter"> <%= @post.likes_counter %></span>
        </span>

      </div>
      <div>
        <% if can? :destroy, @post %>
          <%= button_to 'Delete', member_post_path(@post.author, @post), method: :delete, class: "btn btn-danger m-2" %>
        <% end %>
      </div>
    </div>
    
    <p class="card-text"><%= @post.text %></p>
  </div>
</div>
<div class="card m-3">
  <div class="card-body">
    <% if @post.comments_counter.zero? %>
      <p class="mb-2 text-muted"><small>There are no comments yet</small></p>
    <% else %>
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">Author</th>
            <th scope="col">Comment</th>
            <th scope="col"></th>

          </tr>
        </thead>
        <tbody>
          <% @comms.each do |comment| %>
            <tr>
              <td><%= comment.author.name %></td>
              <td><%= comment.text %></td>
              <% if can? :destroy, comment %>
                <td><%= button_to 'Delete', member_post_comment_path(@post.author, @post, comment), method: :delete, class: "btn btn-danger btn-sm" %></td>
              <% else %>
                <td></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
<br/><br/>

<%= form_with model: @comments, url: member_post_comments_path(current_member, @post), method: :post, local: true, scope: :member_post_comments do |form| %>

  <div class="form-group m-3">
    <%= form.text_field :text, class: "form-control m-2 w-75", placeholder: "Comment text" %>
  </div>

  <%= form.submit value: 'Add comment', class:'btn btn-secondary mx-4' %>
<% end %>
