<div class="card column is-one-third is-one-fourth-widescreen is-one-fifth-fullhd m-4">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-64x64">
          <%= render "thumb", member: member %>
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4 has-text-warning-dark"><%= member.name %></p>
        <p class="subtitle is-6 has-text-link"><%= member.email %></p>
      </div>
    </div>
    <div class="content">
      <%= member.bio %>    
      <br>
      <p><small>Number of posts: <%= member.post_counter %></small></p>
    </div>
    <div class="buttons">
      <%= link_to "Show posts", member_posts_path(member), class: "button is-primary" %>
      <%= link_to "Add post",
        new_member_post_path(member),
        class: "button is-primary",
        data: {
          controller: "stimulus",
          action: "stimulus#open_modal",
          turbo_frame: "post_modal"
        } if member == current_member
      %>
    </div>
  </div>
</div>