<% columns = 0 %>
<% @members.each do |member| %>
  <% if (columns % 3).zero? %>
    <div class="columns">
  <% end %>
  <div class="card column p-4 m-4">

    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <%= image_tag member.avatar_as_thumbnail, class: "is-rounded" %>
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4"><%= member.name %></p>
          <p class="subtitle is-6"><%= member.email %></p>
        </div>
      </div>

      <div class="content">
        <%= member.bio %>
        <p class="is-size-7">Number of posts: <%= member.post_counter %></p>
      </div>

      <div class="buttons">
        <%= link_to "Posts", member_posts_path(member), class: "button is-link is-light" %>
        <%= link_to 'Add post', new_member_post_path(current_member), class: "button is-link is-light" if member == current_member %>
      </div>
    </div>
  </div>
  <% columns += 1 %>
  <% if (columns % 3).zero? %>
    </div>
  <% end %>
<% end %>