<% columns = 0 %>
<% @members.each do |member| %>
  <% if (columns % 3).zero? %>
    <div class="columns">
  <% end %>
  <div class="card column">
    <div class="card-image">
      <figure class="image is-128x128">
        <% if member.avatar.attached? %>
          <%= image_tag member.avatar.variant(:thumb), class: "is-rounded" %>
        <% else %>
          <img src=<%= member.photo %> alt="member photo" class="is-rounded">
        <% end %>
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <p class="title is-4"><%= member.name %></p>
          <p class="subtitle is-6"><%= member.email %></p>
        </div>
      </div>

      <div class="content">
        <%= member.bio %>
        <p class="is-size-7">Number of posts: <%= member.post_counter %></p>
      </div>
      <%= link_to "Posts", member_posts_path(member), class: "button is-link is-light" %>
    </div>
  </div>
  <% columns += 1 %>
  <% if (columns % 3).zero? %>
    </div>
  <% end %>
<% end %>